<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>About Me - Karl Joseph A. Austria</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

    <nav>
        <span class="logo">Karl's Portfolio</span>
        <a href="/">Home</a>
        <a href="/about">About Me</a>
        <a href="/journey">My Journey</a>
        <a href="/skills">Skills</a>
        <a href="/gallery">Gallery</a>
    </nav>

    <div class="container">
        <h1>About Me</h1>

        <h2>Short Biography</h2>
        <p>
                Hello! Good morning, Good Afternoon, Good Evening. My name is Karl Joseph A. Austria. I am 2nd year Bachelor of Science
            in Information Technology student at Nueva Ecija University of Science and Technology Penaranda Off-Campus
            (NEUST-POC) in Penaranda, Nueva Ecija. I am 20 years old almost 21 and I enjoy learning
            new things especially when it comes to computers, programming and new and amazing technology.
        </p>

        <h2>Why I Chose BSIT</h2>
        <p>
                I never chose BSIT, it wasnt even in my radar when I chose what course I would take. I chose Civil Engineering as my main 
            Course. But after just 1 semester I realized that I am not fit to being a Engineer, the mental fatigue is just too much for
            me and I decided to just drop it. Over the course of months of me not being in college I contemplated on what should I do.
            do I just work? no I decided to try again and this time I chose IT. and Im glad I chose well. I ended up being much happier
            and more proactive on my subjects, and my confidence is better. Im very thankful and I wouldnt have it any other way.
        </p>

        <h2>My Interests and Hobbies</h2>
        <p>
            During my free time, I enjoy playing video games, listening to music, and watching
            movies. I also like browsing the internet and learning new things on YouTube.
            Sometimes I spend time with my friends and family on weekends.
        </p>

        <h2>My Goals as an IT Student</h2>
        <p>
            My goals are simple:
            <li>- Finish my Degree(with a latin honor hopefully)</li>
            <li>- Get a Job</li>
            <li>- Earn enough money</li>
            <li>- Retire and live peacefully</li>
            <br>
            Its simple but im a simple boring person I dont plan on being in the spotlight I want peace and quiet, Hopefully I get it.
        </p>

        <h2>Some Photos of My Student Life</h2>
        <div class="photo-row">
            <img th:src="@{/images/cwts2.jpg}" alt="cleaning"/> 
            <img th:src="@{/images/seminar.jpg}" alt="Seminar"/>
        </div>
    </div>

    <footer>
        &copy; 2025 Karl Joseph A. Austria | BSIT 2nd Year | NEUST
    </footer>

</body>
</html>
